@use "../abstracts" as a;

#explode-view {
  max-width: 100%;
  background-image: url(../images/CanvasBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  //   /* width: 100vw; */
}
