@use "../abstracts" as a;

header {
  min-width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
  text-wrap: nowrap;
  align-items: center;
  box-shadow: 2px 2px 10px 1px;
  #headerTitle {
    color: a.$royal;
  }
  #mainMenu {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-between;
    li {
      margin-left: 70px;
      a {
        color: a.$royal;
        @include a.body-light;
      }
    }
    #buyBtn {
      background-color: a.$honey;
      a {
        color: white;
      }
    }
  }
}
